@model System.Collections.Generic.List<Vidly.Models.Customer>

@{
    ViewBag.Title = "title";
}

<h2>Customers</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Details", "Customers", new {id = customer.Id}, null)
                </td>
            </tr>
        }
    </tbody>
</table>
